.checkout {
  display: flex;
  flex-direction: row;
  gap: 64px;
  margin: auto;
  max-width: 1200px;
}

.checkout-cart {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 16px;
  padding: 32px;
  width: 100%;
  min-width: 300px;
  background-color: var(--light-green);
  border-style: solid;
  border-color: black;
  border-width: 1px;
  height: min-content;
}

.checkout-cart h2 {
  align-self: flex-start;
  font-size: 32px;
}

.checkout-cart-total {
  display: flex;
  gap: 16px;
  margin-left: auto;
}

.checkout-cart-total p {
  font-size: 24px;
}

.checkout .form-container {
  margin-top: 0px;
  margin-bottom: 0px;
  width: 100%;
}

.checkout .form {
  width: 100%;
}

.checkout .form h2 {
  margin-top: 64px;
}

.postal-city {
  display: flex;
  gap: 16px;
  margin-top: 16px;
}

.postal-code {
  width: 100%;
}

.postal-code input {
  width: 100%;
}

.city {
  width: 100%;
}

.city input {
  width: 100%;
}

.payment-options {
  display: flex;
  gap: 32px;
}

.payment-option {
  display: flex;
  align-items: center;
  gap: 8px;
}

.payment-option input {
  height: 12px;
  width: 12px;
}

.payment-option img {
  width: 45px;
  object-fit: contain;
}

#payment-options-error {
  display: block;
}

.card-payment {
  display: none;
  margin-top: 16px;
}

.expdate-cvc {
  margin-top: 16px;
  display: flex;
  gap: 16px;
}

.expiry-date {
  width: 100%;
}

.expiry-date input {
  width: 100%;
}

.security-number {
  width: 100%;
}

.security-number input {
  width: 100%;
}

.bipps-payment {
  display: none;
  margin-top: 16px;
}

@media only screen and (max-width: 1000px) {
  .checkout {
    flex-direction: column;
    gap: 32px;
  }

  .checkout-cart {
    padding: 16px;
  }
}
