footer {
  display: flex;
  flex-direction: row;
  align-items: end;
  padding: 32px;
  padding-left: 64px;
  padding-top: 32px;
  gap: 64px;
  width: 100%;
}

.footer-links ul {
  font-family: var(--base-font);
  font-weight: 800;
  color: var(--blue);
  list-style: none;
}

.footer-links a {
  text-decoration: none;
  transition: 0.2s;
  font-size: 20px;
}

.footer-links a:visited {
  color: var(--blue);
}

.footer-links a:hover {
  font-size: 25px;
}

@media only screen and (max-width: 600px) {
  footer {
    flex-direction: column;
    align-items: start;
    padding-left: 16px;

    gap: 16px;
    padding-top: 32px;
  }
}
