@import url(styles.css);

.form-container {
  display: flex;
  background-color: var(--light-green);
  border-style: solid;
  border-color: black;
  border-width: 1px;
  width: min-content;
  margin: auto;
}

.form-slides {
  width: 364px;
  position: relative;
  display: flex;
  align-items: center;
  overflow: hidden;
}

.form-slides img {
  position: absolute;
  height: 100%;
  width: 100%;
  object-fit: cover;
  animation-iteration-count: infinite;
  animation-duration: 15s;
  animation-name: fade;
  opacity: 0;
}

.slide0 {
  animation-delay: 12s;
}

.slide1 {
  animation-delay: 9s;
}

.slide2 {
  animation-delay: 6s;
}

.slide3 {
  animation-delay: 03s;
}

.form {
  margin: 32px;
  display: flex;
  flex-direction: column;
}

.form h1 {
  text-align: center;
}

.form label {
  margin-top: 16px;
  margin-bottom: 4px;
}

.form input {
  width: 300px;
}

.form a:visited {
  color: black;
}

.form button {
  margin: auto;
  margin-top: 16px;
  margin-bottom: 16px;
}

.register-bottom-txt {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.login-bottom-txt {
  display: flex;
  margin: auto;
}

@keyframes fade {
  0% {
    opacity: 0;
  }

  10% {
    opacity: 0;
  }

  20% {
    opacity: 1;
  }

  35% {
    opacity: 1;
  }

  40% {
    opacity: 0;
  }

  100% {
    opacity: 0;
  }
}
