.carousel {
  height: 65vh;
  display: flex;
  overflow: auto;
  height: 65vh;
  margin: 32px;
  margin-top: 0px;
  border-style: solid;
  border-width: 1px;
  border-color: black;
  background: linear-gradient(
    180deg,
    var(--light-green) 0%,
    rgba(255, 255, 255, 0) 100%
  );
  scroll-behavior: smooth;
  position: relative;
  anchor-name: --carousel;
  scroll-snap-type: x mandatory;
  scroll-marker-group: after;
  z-index: 0;
}

.carousel::scroll-marker-group {
  display: flex;
  justify-content: center;
  gap: 8px;
}

.carousel-slide::scroll-marker {
  content: "";
  width: 12px;
  height: 12px;
  border-style: solid;
  border-width: 3px;
  border-color: var(--blue);
  border-radius: 50%;
  transition: 0.2s;
  position-anchor: --carousel;
  position-area: center bottom;
  transform: translateY(-82px);
}

.carousel-slide::scroll-marker:hover {
  background-color: var(--blue);
}

.carousel-slide::scroll-marker:target-current {
  background-color: var(--blue);
}

.carousel::-webkit-scrollbar {
  display: none;
}

.carousel-slide {
  flex: 0 0 100%;
  height: 100%;
  padding: 128px;
  display: flex;
  justify-content: space-between;
  overflow: hidden;
  scroll-snap-align: start;
}

.carousel-text {
  display: flex;
  flex-direction: column;
  z-index: 1;
}

.carousel-image-container {
  width: 40vw;
  filter: drop-shadow(200px -100px 0px #255eed);
  right: 0;
  z-index: 0;
  align-self: center;
}

.carousel-slide img {
  width: 700px;
  animation-name: carouselAnimation;
  animation-duration: 20s;
  animation-iteration-count: infinite;
  animation-timing-function: steps(25);
}

.new-products {
  width: 100%;
}

.new-products-heading {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.new-products-heading p {
  font-weight: 800;
  font-size: 20px;
  color: var(--blue);
  cursor: pointer;
}

.filters {
  height: 0px;
  overflow: hidden;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  gap: 16px;
  transition: 2s;
}

.filter {
  padding: 8px;
  background-color: var(--light-green);
  border-style: solid;
  border-width: 1px;
  border-color: var(--black);
  font-weight: 600;
  transition: 0.2s;
  cursor: pointer;
}

.filter:hover {
  color: white;
  background-color: var(--blue);
}

.filter:last-child {
  margin-right: auto;
}

.product-cards {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  gap: 32px;
  width: 100%;
  margin-top: 16px;
}

.product-card {
  min-width: 100px;
  max-width: 500px;
  border-style: solid;
  border-width: 1px;
  border-color: var(--black);
}

.product-link:last-child {
  margin-right: auto;
}

.product-card img {
  width: 100%;
  height: 300px;
  object-fit: cover;
}

.price {
  font-size: 20px;
}

.discounted-price {
  font-size: 20px;
  color: red;
  display: none;
}

@keyframes carouselAnimation {
  0% {
    clip-path: polygon(
      41% 3%,
      86% 8%,
      100% 44%,
      95% 83%,
      70% 100%,
      16% 98%,
      0% 70%,
      8% 25%
    );
  }

  25% {
    clip-path: polygon(
      95% 80%,
      61% 93%,
      33% 100%,
      10% 71%,
      8% 39%,
      22% 8%,
      71% 0,
      100% 37%
    );
  }

  50% {
    clip-path: polygon(
      41% 3%,
      86% 8%,
      100% 44%,
      95% 83%,
      70% 100%,
      16% 98%,
      0% 70%,
      8% 25%
    );
  }

  75% {
    clip-path: polygon(
      95% 80%,
      61% 93%,
      33% 100%,
      10% 71%,
      8% 39%,
      22% 8%,
      71% 0,
      100% 37%
    );
  }

  100% {
    clip-path: polygon(
      41% 3%,
      86% 8%,
      100% 44%,
      95% 83%,
      70% 100%,
      16% 98%,
      0% 70%,
      8% 25%
    );
  }
}
