header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  padding-left: 64px;
  padding-right: 64px;
}

.logo img {
  height: 100px;
}

.navbar {
  font-family: var(--base-font);
  font-weight: 800;
  font-size: 24px;
  color: var(--blue);
  list-style: none;
  display: flex;
  gap: 64px;
  align-items: center;
}

.navbar .active {
  font-size: 30px;
  font-weight: 800;
}

.navbar a {
  text-decoration: none;
  transition: 0.2s;
  font-size: 24px;
}

.navbar a:hover {
  font-size: 30px;
}

.navbar a:visited {
  color: var(--blue);
}

.cart {
  position: absolute;
  background-color: var(--light-green);
  width: 400px;
  right: 0;
  top: 100px;
  padding: 32px;
  height: min-content;
  border-style: solid;
  border-width: 1px;
  border-color: black;
}

.profile {
  position: absolute;
  background-color: var(--light-green);
  width: 400px;
  right: 0;
  top: 100px;
  padding: 32px;
  border-style: solid;
  border-width: 1px;
  border-color: black;
  display: block;
}
