.desktop-header {
  display: flex;
  flex-shrink: 1;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  padding-left: 64px;
  padding-right: 64px;
}

.logo img {
  height: 100px;
}

.navbar {
  font-family: var(--base-font);
  font-weight: 800;
  font-size: 24px;
  color: var(--blue);
  list-style: none;
  display: flex;
  gap: 64px;
  align-items: center;
}

.navbar a,
.navbar li {
  color: var(--blue);
  text-decoration: none;
  transition: 0.2s;
  font-size: 24px;
  cursor: pointer;
  font-weight: 700;
}

.navbar a:hover,
.navbar li:hover {
  font-size: 30px;
}

.navbar a:visited {
  color: var(--blue);
}

.active a {
  text-decoration: underline;
}

.cart-icon {
  position: relative;
  cursor: pointer;
}

.cart-count {
  width: 13px;
  border-radius: 50%;
  font-size: 10px;
  color: white;
  text-align: center;
  background-color: var(--blue);
  position: absolute;
  top: -5px;
  right: 0;
}

.mobile-header {
  display: none;
}

.mobile-header-top {
  display: flex;
  justify-content: space-between;
  padding-left: 16px;
  padding-right: 16px;
  width: 100%;
}

.mobile-header-top .logo img {
  height: 60px;
}

.mobile-navbar {
  font-family: var(--base-font);
  font-weight: 800;
  font-size: 24px;
  color: var(--blue);
  list-style: none;
  display: flex;
  gap: 16px;
  align-items: center;
}

.mobile-header-bottom {
  display: flex;
  justify-content: center;
  align-items: end;
  height: 0px;
  overflow-y: hidden;
  transition: 0.5s;
}

.mobile-logged-out {
  width: 100%;
  display: flex;
  justify-content: space-around;
  gap: 8px;
  list-style: none;
  padding: 16px;
}

.mobile-logged-in {
  width: 100%;
  display: none;
  flex-wrap: wrap;
  justify-content: space-around;
  gap: 8px;
  list-style: none;
  padding: 16px;
}

@media only screen and (max-width: 750px) {
  .mobile-header {
    display: block;
  }

  .desktop-header {
    display: none;
  }
}
