.product-container {
  display: flex;
  flex-direction: row;
  gap: 64px;
  margin: auto;
  max-width: 1400px;
  position: relative;
  z-index: 0;
}

.product-image-container {
  width: 100%;
  height: 60vh;
  object-fit: cover;
  border-style: solid;
  border-width: 1px;
  border-color: black;
  position: sticky;
  top: 100px;
}

.product-image-container img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.product-details {
  display: flex;
  flex-direction: column;
  gap: 32px;
  width: 100%;
}

.product-info {
  background-color: var(--light-green);
  border-style: solid;
  border-width: 1px;
  border-color: black;
  padding: 32px;
}

.tags-container {
  display: flex;
  gap: 8px;
  font-weight: 700;
}

.tags-container p {
  font-size: 20px;
}

.tags {
  text-decoration: underline;
  font-weight: 400;
  font-size: 16px;
}

.product-description {
  margin-bottom: 32px;
}

.price-container {
  display: flex;
  justify-content: end;
  gap: 8px;
}

.button-container {
  display: flex;
  flex-direction: row-reverse;
  align-items: end;
  justify-content: space-between;
}

.share-button {
  position: relative;
}

.share-button svg {
  cursor: pointer;
}

.share-url-container {
  display: none;
  position: absolute;
  gap: 16px;
  justify-content: center;
  padding: 32px;
  background-color: var(--light-green);
  border-style: solid;
  border-width: 1px;
  border-color: black;
}

.add-to-cart {
  opacity: 1;
}

.product-rating {
  display: flex;
  gap: 8px;
  align-items: center;
  font-size: 32px;
}

.product-rating p {
  font-size: 24px;
}

.user-rating-stars-outer {
  width: 160px;
  height: 32px;
  background-image: url(/Images/Star_1.svg);
  background-size: 32px;
  background-repeat: repeat-x;
}

.user-rating-stars-inner {
  width: 160px;
  height: 32px;
  background-image: url(/Images/Star_2.svg);
  background-size: 32px;
  background-repeat: repeat-x;
  width: 0%;
}

.reviews {
  display: flex;
  flex-direction: column;
  gap: 32px;
}

.no-reviews {
  display: none;
}

.review {
  background-color: var(--light-green);
  border-style: solid;
  border-width: 1px;
  border-color: black;
  padding: 32px;
}

.username {
  font-size: 20px;
  font-weight: 600;
}

.review-stars-outer {
  margin-top: 32px;
  width: 125px;
  height: 25px;
  background-image: url(/Images/Star_1.svg);
  background-size: 25px;
  background-repeat: repeat-x;
}

.review-stars-inner {
  width: 125px;
  height: 25px;
  background-image: url(/Images/Star_2.svg);
  background-size: 25px;
  background-repeat: repeat-x;
  width: 0%;
}

.other-products {
  margin: auto;
  margin-top: 64px;
  max-width: 1400px;
}

@media only screen and (max-width: 1000px) {
  .product-container {
    flex-direction: column;
  }

  .product-image-container {
    width: 100%;
    height: 45vh;
    object-fit: cover;
    border-style: solid;
    border-width: 1px;
    border-color: black;
    position: relative;
    top: 0px;
  }
}
