@import url("variables.css");
@import url("header.css");
@import url("footer.css");
@import url("front.css");
@import url("product.css");
@import url("forms.css");
@import url("checkout.css");
@import url("cart.css");
@import url("profile.css");
@import url("success.css");

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  clear: both;
  font-family: var(--base-font);
  font-size: 16px;
}

body {
  width: 100%;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  font-size: 16px;
}

main {
  margin-left: 64px;
  margin-right: 64px;
}

h1,
h2 {
  font-family: var(--heading-font);
  font-style: italic;
  font-weight: 500;
}

h1 {
  font-size: 32px;
}

h2 {
  font-size: 24px;
}

h3 {
  font-size: 20px;
  font-weight: 600;
}

a {
  font-weight: 700;
  text-decoration: underline;
}

a:visited {
  color: black;
}

input {
  padding: 8px;
  font-family: var(--base-font);
  font-size: 16px;
  border-radius: 0px;
  border-style: solid;
  border-color: black;
  border-width: 1px;
}

button {
  background-color: var(--blue);
  padding: 16px;
  width: max-content;
  color: white;
  font-family: var(--base-font);
  font-size: 20px;
  font-weight: 800;
  border-style: none;
  cursor: pointer;
  transition: 0.2s;
  clip-path: polygon(
    38% 19%,
    70% 10%,
    93% 20%,
    100% 50%,
    92% 87%,
    64% 83%,
    35% 92%,
    7% 85%,
    0 60%,
    7% 16%
  );
}

button:hover {
  animation-name: buttonAnimation;
  animation-duration: 1.3s;
  animation-iteration-count: infinite;
  animation-timing-function: steps(3);
  padding: 22px;
}

.loader,
.products-loader,
.cart-loader {
  width: 50px;
  height: 50px;
  padding: 8px;
  margin: auto;
  aspect-ratio: 1;
  border-radius: 50%;
  background: var(--blue);
  --_m: conic-gradient(#0000 10%, #000), linear-gradient(#000 0 0) content-box;
  -webkit-mask: var(--_m);
  mask: var(--_m);
  -webkit-mask-composite: source-out;
  mask-composite: subtract;
  animation: l3 1s infinite linear;
}

.error-msg,
.products-error-msg,
.cart-error-msg {
  display: none;
}

@keyframes l3 {
  to {
    transform: rotate(1turn);
  }
}

@keyframes buttonAnimation {
  0% {
    clip-path: polygon(
      20% 13%,
      60% 19%,
      93% 18%,
      100% 70%,
      94% 85%,
      74% 90%,
      40% 82%,
      7% 85%,
      0 30%,
      4% 20%
    );
  }
  50% {
    clip-path: polygon(
      38% 23%,
      70% 15%,
      93% 23%,
      100% 40%,
      92% 87%,
      64% 83%,
      35% 90%,
      9% 83%,
      0 60%,
      7% 20%
    );
  }
  100% {
    clip-path: polygon(
      20% 13%,
      60% 19%,
      93% 18%,
      100% 70%,
      94% 85%,
      74% 90%,
      45% 85%,
      7% 85%,
      0 30%,
      4% 20%
    );
  }
}

@media only screen and (max-width: 1000px) {
  main {
    margin-left: 16px;
    margin-right: 16px;
  }
}
